html,
body {
  background-color: var(--color-bg);
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  font-size: var(--font-m);
  animation-duration: 0.3s;
}

main {
  padding: var(--m);
  display: flex;
  flex-direction: column;
  gap: var(--m);
  /* position: relative; */
}

header,
footer {
  background-color: var(--color-white);
  padding: var(--m);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fw-semibold);
}

h1 {
  display: inline-block;
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-l);
}

h3 {
  font-size: var(--font-m);
}

h4 {
  font-size: var(--font-s);
}

p {
  line-height: var(--l);
  font-size: var(--font-s);
}

address {
  opacity: 0.5;
}

ul > li {
  padding: var(--m);
  margin: var(--s) 0;
  background-color: var(--color-white);
}

img {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #333;
  font-size: var(--font-s);

  & > span.icon {
    /* transition: color 0.3s ease, background-image 0.3s ease; */
  }

  &:hover > span.icon {
    background-image: linear-gradient(
      to right,
      var(--color-th-orange) 0%,
      var(--color-th-pink) 80%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: color 0.3s ease;
  }
}
