/* layouts */

.grid-list {
  display: grid;
  gap: 0 var(--m);
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--m);

  @media screen and (width <= 768px) {
    display: block;
    flex-direction: column;
  }
}
