/* utility classes */

.wrapper {
  display: flex;
  align-items: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.height-100 {
  height: 100%;
}

.width-100 {
  width: 100%;
}

.width-90 {
  width: 90vw;
  margin: 0 auto;
}

.padding-m {
  padding: var(--m);
}

/* media queries */

.large-vp {
  display: none;

  @media screen and (width >= 768px) {
    display: flex;
  }
}

.small-vp {
  display: flex;

  @media screen and (width >= 768px) {
    display: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.blur:not(aside) {
  filter: blur(4px);
}
